<p id="notice"><%= notice %></p>

<h1>
  <%= @vendor.name %>
</h1>

<p>
  <%=image_tag @vendor.logo, size: "70x70" %>
</p>

<p>
  <%= @vendor.description %>
</p>

<%= link_to 'Edit', edit_vendor_path(@vendor) %> |
<%= link_to 'Back', vendors_path %>
